@{
    Layout = "_Layout";
}

<div class="center-all" style="margin-top: 3em;">
    <h1 class="text-danger" style="font-size:50px;">Adgang nægtet!</h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:100%">
    <h3 style="font-size:25px;">Det ser ud til, at du har ikke tilladelse til at se denne side.</h3>
    <h4>Kontakt din system-administrator hvis du mener dette er en fejl.</h4>
</div>