@{
    Layout = "_Layout";
}

<div class="flex vertical flex-center-center">
    <div>
        <p class="txt foreground-black">Her kan i få et dashboard med de ting i bruger mest</p>
    </div>
</div>